* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #ccc;
  line-height: 1;
}

.fas {
  font-family: 'FontAwesome';
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.fas--sm {
  font-size: 15px;
}

.icon {
  display: block;
  width: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart__link {
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: inherit;
}

.cart__link:hover {
  text-decoration: none;
  color: inherit;
}

.cart__link > * {
  padding-right: 15px;
}

.cart__link > *:last-child {
  padding-right: 0px;
}


.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.book-list__item {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e3e3e3;
}

.book-list__item-info {
  margin-left: 20px;
}

.book-list__item-info-title {
  padding-right: 5px;
}

.book-list__item-image-cover {
  width: 150px;
}

.book-list__item-image-cover img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.total-price {
  text-align: right;
  font-size: 21px;
}

.cart-table {
  margin-top: 50px;
}